build/
packages/
bin/packages
test/packages
test/doc_coverage/packages
test/shapeshift/packages
web/packages
pubspec.lock
.buildlog
.project
.pub/
.DS_Store
*.dart.js
*.js_
*.js.deps
*.js.map

diff*
sdk-*
