html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8F8;
  color: rgb(72, 72, 72);
  font: 400 15px/19px 'Roboto', sans-serif;
}

strong {
  font-weight: 500;
  color: rgb(48, 48, 48);
}

#status {
  display: none;
  text-align: center;
  font-style: italic;
  font-size: 150%;
  margin-top: 2em;
}

#status.active {
  display: block;
}

#version-selection {
  background-color: #eee;
  border: solid 1px #ddd;
  display: table;
}

#version-selection .table-cell {
  display: table-cell;
  padding: 10px;
}

#version-selection .table-cell >div {
  padding: 2px 0;
}

.the-body {
  background-color: #FFF;
  border: solid 1px #CCC;
  border-top: 0;
  border-bottom: 0;
  box-shadow: 0 2px 8px #CCC;
  margin: 0 auto;
  max-width: 940px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  position: relative;
}

.container {
  border-top: solid 3px #CCC;
  padding: 15px 15px 80px 15px;
}

.the-header a {
  cursor: pointer;
}

.the-header.disabled a {
  cursor: wait;
}

.container:first-child {
  border-top: 0;
}

.container >h1 {
  color: #000;
  margin-top: 0;
  margin-bottom: 16px;
  font: 400 46px/52px 'Montserrat', sans-serif;
}

.container .notification {
  text-align: center;
  margin: 20px;
  font-size: 150%;
  font-style: italic;
}

table td {
  padding: 0;
  vertical-align: middle;
}
table td:first-child {
  padding-right: 30px;
}

/* #0084c5 */
a {
  color: #428bca;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

pre {
  background-color: #ddd;
  border: solid 1px #999;
  box-shadow: 1px 1px 3px #999 inset;
  font-size: 13px;
  overflow: auto;
  padding: 5px;
}

p >code,
li >code {
  background-color: #eee;
  border-bottom: solid 1px #ccc;
  white-space: nowrap;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: right;
  display: block;
  width: 100%;
  border-top: solid 1px #CCC;
  padding: 4px 0;
}

footer p {
  margin: 0.3em 0.2em 0.3em 0;
  font-size: 14px;
}

.hidden {
  display: none;
}

.sup {
  font-size: 67%;
  font-weight: bold;
  vertical-align: super;
}

a .sup:hover {
  text-decoration: none;
}
